@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&family=Metal+Mania&family=Nunito:ital,wght@1,300;1,400;1,800&family=Poppins:ital,wght@0,100;0,200;0,800;0,900;1,800;1,900&display=swap');


body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Metal Mania', cursive;
  overflow-x: hidden;

}

a {
  text-decoration: none;
  color: #a69d9b;
}

.container {
  width: 1200px;
  margin: auto;
}

.hero-title {
  margin-top: 100px;
}

.head {
  background-image: url(../img/wp2328065.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1800px;

}

.head ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
}

.head ul {
  width: 500px;
  margin: auto;
}

.head ul li {
  margin-top: 50px;
  color: #a69d9b;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  text-transform: uppercase;

}

h1 {
  text-align: center;
  color: white;
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 15px;
  word-spacing: 10px;
}

.link button {
  margin-top: 80px;
  margin-left: 200px;
  width: 300px;
  padding: 15px 20px;
  color: #dfdad9;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: #76C7F2;
}

.head {
  position: relative;
}

.icon {
  position: absolute;
  top: 70%;
  left: 50%;
}

.icon,
.fa-regular {

  color: rgb(42, 163, 169);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;

}

/* main section */

.main {
  margin-top: 100px;
}


.first-line {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.first-line h2,
p {
  font-family: monospace;
  font-size: 20px;
  text-transform: uppercase;
}

.main hr {
  width: 1150px;
}

.first-line button {
  padding: 10px 15px;
  color: white;
  border-radius: 10px;
  border: 0;
  background-color: #76C7F2;
  text-transform: uppercase;

}

/* footer-section */

.footer {
  display: flex;
  background-color: #76C7F2;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo-title h2 {
  margin-left: 100px;
  color: white;
  font-size: 30px;
  letter-spacing: 15px;
}

.footer-links {
  margin-right: 0px;

}

.footer-links i {
  color: white;
  padding: 0px 20px;
}


.head {
  height: 800px;
}

.about {
  height: 200px;
}

.about h1 {
  font-family: 'Metal Mania', cursive;
  font-size: 100px;

}

.head-bg {
  background-image: url(../img/wp2328065.webp);
  height: 400px;
}

.head-bg,
.nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  color: #a69d9b;
  font-family: monospace;
  font-size: 20px;

}

.head-bg,
.nav li {

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about h2 {
  text-align: center;
  font-size: 60px;
  letter-spacing: 10px;
}

.about-content p {
  font-family: normal;
  font-size: 27px;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(111, 107, 107, 0.584);
}

.about-content img {
  width: 300px;
  float: left;
  padding: 10px;
  border-radius: 70%;
}

.about-footer_links {
  margin-right: 100px;
}

.about-footer_links i {
  padding: 0px 20px;
  color: aliceblue;
}


.nav ul {
  width: 500px;
  margin: auto;
  text-transform: uppercase;
}